body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #d7d3ba;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

video {
  cursor: pointer;
}

#outro {
  z-index: 2;
  position: absolute;
}

.container {
  position: relative;
}